ion-content{
  width: 100% !important;
  height: 100% !important;
  --background: gainsboro !important;
  background: gainsboro !important;
  background-color: gainsboro !important;
}

.outer-div{
  width: 100% !important;
  height: 100% !important;
  background: gainsboro !important;
  background-color: gainsboro !important;
  
  canvas{
    width: 100% !important;
    height: 100% !important;
    background: gainsboro !important;
    background-color: gainsboro !important;
  }
}
